__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
data/*.db
data/*.db-shm
data/*.db-wal
data/paddlex-cache/
data/logs/
build/
dist/
*.spec
models/ocr/**
!models/ocr/detection/
!models/ocr/detection/.gitkeep
!models/ocr/recognition/
!models/ocr/recognition/.gitkeep
